<div class="container-fluid home">
  <div class="row lineHome">
    <div class="offset-lg-3 col-lg-6 myAutoAllign text-center">


      <div class="detAnalis">
        <h3 class="textName">Descrição da análise</h3>
      </div>


      <div class="detailsGroup">
        <ul class="list-group list-group-horizontal-lg ">
            <!-- <li *ngFor="let item of audioResult.result"  class="resulDetails list-group-item">{{item.category}}: Matar</li> -->
          <li class="resulDetailsDescr list-group-item">Categorias e palavras possívelmente indesejadas</li>
          <li class="resulDetails list-group-item">Agressivo: Matar</li>
          <li class="resulDetails list-group-item">Agressivo: Matar</li>
          <li class="resulDetails list-group-item">Agressivo: Matar</li>
          <li class="resulDetails list-group-item">Agressivo: Matar</li>
          <li class="resulDetails list-group-item">Agressivo: Matar</li>
          <li class="resulDetails list-group-item">Agressivo: Matar</li>
          <li class="resulDetails list-group-item">Agressivo: Matar</li>
          <li class="resulDetails list-group-item">Agressivo: Matar</li>
          <li class="resulDetails list-group-item">Agressivo: Matar</li>
          <li class="resulDetails list-group-item">Agressivo: Matar</li>
          <li class="resulDetails list-group-item">Agressivo: Matar</li>
        </ul>
      </div>

      <button [routerLink]="['/']" type="button" class="btn btn-danger btn-lg initialButton">Menu</button>





    </div>
  </div>
</div>