<div class="container-fluid home">
    <div class="row lineHome">
      <div class="offset-lg-3 col-lg-6 myAutoAllign text-center">

  
        <img class="logo" src="./../../../assets/search.png" alt="successIcon">

        
        <br>

        <div class="nameApp">
            <h3 class="textName">Caracteres convertidos: {{cost.length}}</h3>
            <h3 class="textName">Custo atual: R$ {{cost.cost}} </h3>
        </div>
        <button [routerLink]="['/']" type="button" class="btn btn-light btn-lg initialButton">Menu</button>
        

  
      </div>
    </div>
  </div>