<div class="container-fluid home">
    <div class="row lineHome">
      <div class="offset-lg-3 col-lg-6 myAutoAllign text-center">

  
        <img class="logo" src="./../../../assets/success.png" alt="successIcon">
        <img class="logo" src="./../../../assets/successHand.png" alt="successIcon">
        
        <br>

        <div class="nameApp">
            <h3 class="textName">Este áudio não contém palavras indesejadas !</h3>
        </div>
        
        <button [routerLink]="['/']" type="button" class="btn btn-success btn-lg initialButton">Menu</button>
  
      </div>
    </div>
  </div>