<div class="container-fluid home">
  <div class="row lineHome">
    <div class="offset-lg-3 col-lg-6 myAutoAllign text-center">
      <div class="nameApp">
        <h3 class="textName">ESCUCHA</h3>
      </div>

      <img class="logo" src="./../../../assets/escuchaIcon.png" alt="escuchaIcon">
      <br>

      <div>
        <label class="labelInput" for="inputAudio"><img class="uploadImage"
            src="../../../assets/speaker-2488096_960_720.png" alt="upload"></label>
        <input id="inputAudio" type="file" #audioPicker accept="audio/*" (change)="onAudioPicked($event)" multiple>
        <h5 class="audioName" *ngIf="uploadAudioFile != null" >{{uploadAudioFile.name}}</h5>
      </div>
      <button *ngIf="uploadAudioFile != null" type="button" (click)="onSubmit()" class="btn btn-danger btn-lg initialButton">Escanear Audio</button>
      <!-- <button type="button" class="btn btn-success btn-lg initialButton">Submeter Audio</button> -->
      <button (click)="getTotalCost()"  type="button" class="btn btn-success btn-lg initialButton">Visualizar custos</button>


    </div>
  </div>
</div>
